**/*.pyc
**/*.o
**/*.so
**/.*.swp
**/.ipynb_checkpoints
**/__pycache__
*egg-info
.autotools
.cproject
.depend
.idea
.mypy_cache
.project
.pydevproject
.settings
.tags
.tags1
.vscode
build
dist
**/Debug
**/build
**/Cargo.lock
**/tags
**/target
**/Cargo.lock.old
